html,body,div,span,object,iframe,h1,h2,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:11px;font-family:'Lato',sans-serif;vertical-align:baseline;color:#212529}
.fa-2x{max-width:none}
img{vertical-align:middle}
img.botao{vertical-align:middle}
span.widh_icon{margin-right:8px}
.cl_pessoas{height:60px;float:left;margin-right:10px}
.result_list{overflow:auto;max-height:202px;padding:1px 11px}

.modal_janela > form > .box {
	border: 0px solid #0c5983;
}
.modal_janela{position:absolute;z-index:50;pointer-events:none;opacity:0;-webkit-transition:opacity 400ms ease-in;transition:opacity 400ms ease-in}
.modal_janela>.notification.sanfona{
	margin-bottom:0;border:1px solid#fff;
	}
.modal_janela{
	padding-top: 0px !important;
	left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    max-width: 80%;
    max-height: 90%;
}
.lower_case{text-transform:capitalize; font-size:12px;}
.canvas_marketing_engajas{max-width:1100px;margin-top:10px}
.body_escuro{background:url(fundo-login.jpg) no-repeat;background-size: cover;}
.esquece_senha{float:right;margin-top:-10px}
.clicaEfeito:hover>.efeitoClica{display:inline!important}
.efeitoClica{display:none}
.linklist:hover{border-bottom:1px solid#2784b1;color:#2784b1!important; cursor: pointer;}
img.botao:hover{border-bottom:1px solid#E9BD57;color:#E8BC56}
body{line-height:1.5}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:""""}
a img{border:none}
body{font-size:100%;color:#1a1a1a; background:rgb(236, 236, 236); font-family:'Lato',sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:400;text-transform:uppercase}
h1{font-size:24px;font-weight:700;line-height:1;color:#333}
h2{color:#454545;font-size:18px;font-weight:700;margin-bottom:10px}
h3{font-size:14px;font-weight:700;margin-bottom:15px}
h4{font-size:13px;font-weight:700;margin-bottom:15px}
h5{font-size:12px;margin-bottom:15px}
h6{font-size:11px}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0}
p{margin:0 0 1.5em;clear:both;line-height:1.6;color:#333333}
a:focus,a:hover{color:#000}
a{color:#009;text-decoration:none!important}
blockquote{margin:1.5em;color:#666;font-style:italic}
strong{font-weight:700}
em,dfn{font-style:italic}
dfn{font-weight:700}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted#666}
address{margin:0 0 1.5em;font-style:italic}
.cl{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0;line-height:0}
.fl{float:left}
.fr{float:right}
.fn{float:none!important}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center;width:3%;}
.hd{display:none}
.strong{font-weight:700!important}
#logo{padding:7px 0 0;height:45px}
#header{color:#fff}
#header a{color:#fff;text-decoration:underline}
#header a:hover{color:#fff;text-decoration:none}
.header-top{background:#2c2c2c;padding:6px 25px 2px}
.header-middle{background:#fff;padding:0 25px;height:112px;border-bottom:1px solid#e7e7e7;box-shadow:0 5px 13px rgba(0,0,0,.2);padding-top:4px;padding-bottom:2px}
.header-bottom{background:#313131 url(../img/header-bottom.gif)repeat-x bottom;border-top:1px solid#545454;border-bottom:1px solid#545454;padding:7px 25px}
#header p{margin:0 0 5px}
#header span{color:#6e7d87}
div.conteudo{display:none}
.font_result{font-weight:700}
.users_online{position:fixed;bottom:0;right:0;background:white;border:3px solid#fcfbfb;padding:10px;font-weight:900;color:#fcfbfb;pointer-events:none}
.contLink a{position:relative;color:#1D2433!important;font-weight:500!important;text-align:center}
.contLink a:hover{z-index:999}
.contLink a span{display:none}
.contLink a:hover span{display:block;position:absolute;top:28px;left:41px;padding:9px 14px;color:#666;font-size:12px;text-align:center;z-index:100;box-shadow:0 2px 3px rgba(0,0,0,0.55);border:1px solid#ddd;border-radius:0px 16px 16px 16px;background-color:white;overflow:auto;max-height:405px}
img.sanfona{vertical-align:baseline;margin-top:-7px;margin-left:10px;cursor:pointer}
.footer{position:absolute;left:0px;margin-top:100%;height:30px;width:100%;text-align:center;color:#fff;z-index:9999999999999;background:#0C4665 url('/img/header-bottom.gif')repeat-x bottom;border-top:1px solid#0C4665;border-bottom:1px solid#0C4665}
.footer a{color:#fff;text-decoration:underline}
.footer a:hover{color:#fff;text-decoration:none}
#page-wrapper{border-top:1px solid#060606;border-bottom:1px solid#000000;background:#f4f4f4 url('../img/page-bg.gif')repeat-x top}
.page{height:100%;position: absolute;min-width: 100%;}
#page-content {
	margin-left: 230px;
	padding: 26px 31px 54px 2px;
	color: #333;
}
#page-header{border-bottom:1px solid#d5d5d5;padding-bottom:10px;margin-bottom:25px;margin-left:1%;margin-right:1%}
#nav{font-size:16px;font-weight:bold;list-style-type:none;margin:0;padding:0;width:78%;height:62px}
#nav li{display:block;float:right;padding:19px 21px;text-align:left;position:relative;height:24px;font-size:16px}
#nav li:hover{background:#2d2d2d;border-right:1px solid#606060;border-left:1px solid#606060;border-top:0;border-bottom:0;padding:19px 20px}
tr:nth-child(even){background: rgba(53, 111, 122, 0.06);}
tr:nth-child(odd){background:#FFF}
#nav li a{color:#fff;padding:22px 10px 22px 40px;text-shadow:0-1px 1px#000000;font-size:16px;text-decoration:none}
#nav li a:hover{text-decoration:none}
#nav li a.help{background:url(../img/icons/nav/help.png)no-repeat 0-38px}
#nav li a.settings{background:url(../img/icons/nav/settings.png)no-repeat 0-38px}
#nav li a.users{background:url(../img/icons/nav/users.png)no-repeat 0-38px}
#nav li a.content{background:url(../img/icons/nav/content.png)no-repeat 0-38px}
#nav li a.dashboard{background:url(../img/icons/nav/dashboard.png)no-repeat 0-38px}
#nav li:hover>a{background-position:0 16px}
#nav ul li:hover a,#nav li:hover li a{background:none;border:none}
#nav ul a:hover{-webkit-border-radius:0;-moz-border-radius:0}
#nav li:hover>ul{display:block}
#nav li.dashboard ul{width:140px}
#nav li.dashboard ul li ul{left:160px}
#nav li.content ul{width:150px}
#nav li.content ul li ul{left:128px}
#nav li.users ul{width:159px}
#nav li.users ul li ul{left:170px}
#nav li.settings ul{width:155px}
#nav li.settings ul li ul{left:155px}
#nav li.help ul{width:203px}
#nav li.help ul li ul{left:203px}
#nav ul{display:none;margin:0;padding:0;position:absolute;top:62px;left:-1px;background:#2d2d2d;border:1px solid#606060;z-index:10;border-top:none;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;padding-bottom:5px}
#nav ul li{float:none;padding:6px 0 1px;margin:0}
#nav ul li:hover{padding:6px 0 1px;background:#478db4;border:0}
#nav ul a{font-size:12px;font-weight:700;margin:0;padding:0 15px;text-shadow:none;padding-left:15px;vertical-align:top}
#nav ul li:hover>a{text-shadow:none;vertical-align:top}
#nav ul ul{top:0;-moz-border-radius:0 5px 5px;-webkit-border-radius:0 5px 5px 5px;border-top:1px solid#606060}
#nav ul li:last-child>a{-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px}
#nav:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#nav{display:inline-block}
html[xmlns]#nav{display:block}
*html#nav{height:1%}
#breadcrumbs{list-style:none;padding:0;margin:0}
#breadcrumbs li{display:inline;font-size:12px;line-height:normal;float:none;font-size:14px}
#breadcrumbs li a{float:none;display:inline;font-weight:700;padding:0;text-decoration:none;font-size:12px}
#breadcrumbs li.bold a{font-weight:700}
#breadcrumbs li:HOVER{background:none;padding:0;text-decoration:none}
#breadcrumbs li:HOVER A{padding:0;text-decoration:none}
.breadcrumbs li a:HOVER{text-decoration:none;background:none;padding:0}
.caixa_texto{z-index:3;background-color:#00002c;height:62px;position:fixed;border:1px solid#ddd;width:100%}

.grid_events_list .botao_imprimir > i {
	margin-left: 10px;
}

.grid_12{
		margin-left: 20px !important;
}

.grid_events_list .botao_editar > i {
	margin-left: 10px;
}
.fa{padding-right:10px;width: 13px;width: auto;}
.fa-2x{max-width:none}
span.diferente{position:relative;top:24px;float:right;height:60px}
span.diferente2{position:absolute;top:0%;left:2%}
.ul-header{
	border-bottom:1px solid#e0e0e0;
	font-weight:bold;
	font-size:14px;
	display:block;
	width:190px;
	padding:6px;
	color:#1d2433;
	margin-top:10px;
	width:100%;
	}
.ul-header a{
	font-family: Lato, sans-serif;
	font-size:14px;color:#1d2433;

	text-decoration:none;
	padding-bottom:7px;
	padding-top:14px;
	padding-left: 10px !important;
	}
.ul-header:hover{
	color:#1D2433!important;
	background-color:#fcfbfb;
	border-left: 2px solid #ce193d;
	transition: .2s;
	}
.ul-header a:hover{color:#1D2433!important;}
.searchform{display:inline-block;margin-bottom:15px;padding:0}
.close{cursor:pointer}
.searchform input{font:12px/100%Arial,Helvetica,sans-serif;font-family:'Lato',sans-serif!important}
.searchform.searchfield{-moz-border-radius:5px 0 0 5px;-moz-box-shadow:0 1px 2px#c7c6c6 inset;-webkit-border-radius:5px 0 0 5px;-webkit-box-shadow:0 1px 2px#c7c6c6 inset;background:#FFFFFF url(../img/search-bg.gif)no-repeat 10px center;border:1px solid#c7c6c6;outline:medium none;padding:7px 6px 6px 28px;width:119px;float:left;margin:0}
.searchform.searchfield:focus,.searchform.searchfield:focus>input.searchbutton{-moz-box-shadow:0px 0px 3px#d0e1f7;border:1px solid#d0e1f7}
.searchform.searchbutton{-moz-border-radius:0 5px 5px 0;-moz-box-shadow:0 1px 2px#c7c6c6;-webkit-border-radius:0 5px 5px 0;-webkit-box-shadow:0 1px 2px#c7c6c6;background:#d6d6d6 url(../img/go-bg.gif)repeat-x top;border:1px solid#a9a8a8;color:#888888;font-size:12px;font-weight:bold;height:29px;text-shadow:0 1px 1px#f6f6f6;width:30px;float:left;margin:0;padding:0}
.box{background:#fff;border:1px solid#9d9d9d;margin-bottom:15px;padding:15px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;border:1px solid#ddd;border-radius:0px 0px 0px 0px}
input[type="text"]{
	outline:medium none;
	padding:13px 6px 8px 10px;
	margin:3px;
	color:#666;
	color: #000000;
	border-radius: 4px;
}
input[type="password"]{outline:medium none;padding:6px 6px 8px 6px;margin:3px;color:#666}
input[type="time"]{border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background:rgb(254,254,254);padding:7px;color:#666}
input[type="button"]{padding:9px}
input[type="submit"]{padding:9px}
input[type="date"]{border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background:rgb(254,254,254);border:1px solid rgba(0,0,0,0.298039);padding:7px;color:#666}
input[type="number"]{/* border-top-left-radius:5px; *//* border-top-right-radius:5px; *//* border-bottom-right-radius:5px; *//* border-bottom-left-radius:5px; */background:rgb(254,254,254);border:1px solid rgba(0,0,0,0.298039);padding:7px;color:#666;width: 64px;}
input[type="email"]{border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background:rgb(254,254,254);border:1px solid rgba(0,0,0,0.298039);padding:7px;color:#666}
.box22{background:#fff;border:1px solid#9d9d9d;margin-bottom:15px;padding:15px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;box-shadow:0 1px 7px rgba(0,0,0,0.2);border:1px solid#ddd;border-radius:0px 0px 16px 16px}
.box a{color:#1d2433;text-decoration:none;cursor:pointer}
.box a:hover{color:#212529;text-decoration:underline}
.box.stats{padding:30px 15px}
.box.table{padding:0}

.box-header.conclusion {
	background: #B5DAC7;
}

.box-header.negative {
	background: #F3B3B3;
}

.box-header.procedure {
	background: #ABD8F1;
}
.box-header.stoped {
	background: #D7E187;
}

.box-header{
	display:block;
	font-size:18px !important;
	font-weight:bold !important;
	background:#fcfbfb;
	padding:10px;color:#1d2433;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	border:1px solid#ddd;
	border-radius:0px 0px 1px 1px;
	min-height: 34px;
	padding-bottom: 20px;
}
.box-header.fr a{color:#333333;text-decoration:none;font-size:12px;padding:0 5px}
.box-header.fr a:hover{color:#1f92ff}
.box h2{color:#454545;font-size:18px;font-weight:bold;margin-bottom:10px}
.box h3{font-size:14px;font-weight:bold;margin-bottom:15px}
.box h4{color:#666666;font-size:13px;font-weight:bold;margin-bottom:15px}
.box ul{padding-bottom:15px;padding-left:30px}
.box ul li{margin-bottom:5px;padding-left:5px}
.box ol{list-style-position:inside;padding-bottom:15px;padding-left:15px}
.box ol li{margin-bottom:5px}
.notification.success{background:#effeb9 url('../img/icons/notifications/success.png')no-repeat 10px 10px;border-color:#98c700}
.notification.error{background:#fccac3 url('../img/icons/notifications/error.png')no-repeat 10px 10px;border-color:#ea5338;padding:17px 17px 17px 52px}
.notification.warning {
	background: #fcf8e3 url(../img/icons/notifications/warning.png)no-repeat 12px 10px;
	border-color: #faebcc;
	color: #8a6d3d;
	/* margin-left: 1%; */
	padding: 17px 17px 17px 52px;
	z-index: 100;
}
.warning_principal{color:#8a6d3d;bottom:0;margin-bottom: 10px;}
.notification.info{background:#d1e4f3 url('../img/icons/notifications/info.png')no-repeat 10px 10px;border-color:#4d8fcc;padding:17px 17px 17px 52px}
.notification.sanfona{
	background:#fff;
	color:#1D2433;
	margin-bottom:4px;
	font-weight:700;
	font-family: Lato, sans-serif;
	font-size: 18px !important;
	font-weight: 600;
	text-decoration: none;
	}
.titulo-span{
    display:inline-block;
    border-bottom:3px solid red;
    padding-bottom:20px;
		font-family: Lato, sans-serif;
		font-size: 18px !important;
		color: #1D2433;
}
.notification.sanfona:hover{cursor:pointer}
.notification.tip{background:#feeac9 url('../img/icons/notifications/tip.png')no-repeat 10px 10px;border-color:#d38e49}
.notification{border-width:0px;border-style:solid;padding:17px 17px 17px 9px;-moz-border-radius:3px}
.notification.close{background:url("../img/icons/small/close .png")no-repeat scroll 0 0 transparent;cursor:pointer;display:block;float:right;height:16px;margin-top:2px;opacity:0.7;width:16px}
.notification.close:hover{opacity:1}
.div_close{
	margin-top: -10px !important;
	background-color: #fff;
	float:right;
	color: #8D9098;
	font-size: 18px !important;
	}
.div_close:hover{
	margin-top: -10px !important;
	background-color: #fff;
	float:right;
	color: #1D2433;
	font-size: 18px !important;
	transform: translateY(-2px);
	transition: .3s ease;
	}
.ui-tabs-anchor{
font-size: 18px !important;
background: #fff !important;
border: 0px solid #ffffff !important;
}
.ui-tabs-anchor:hover{
font-size: 18px !important;
background: #fff !important;
border: 0px solid #ffffff !important;
}
.ui-widget-header{
	background: #fff !important;
    border: 0px solid #ffffff !important;
}

form label{padding-top:5px;margin-right:8px;display:block;color:#1D2433;font-size: 11px;font-weight:bold;float:left;}
form p{margin-bottom:0px;padding-bottom:0px}
input{color:#666;text-align:center;margin:3px}
form div.row{clear:both;padding:0px 0;margin-bottom:0px}
form.row label{width:250px}
form div.row1{clear:both;padding:4px 0;margin-bottom:15px;width:24%}
form div.row2{width:25%;float:left;padding:4px 0;margin-bottom:15px}
form.row2 label{width:20%}
form div.row3{clear:both;padding:4px 0;margin-bottom:15px;width:19%;float:left}
form div.row4{clear:both;padding:4px 0;width:20%;float:left;margin-left:24%;margin-top:-55px}
form div.row5{clear:both;padding:4px 0;width:13%;float:left;margin-left:45%;margin-top:-54px}
form div.row6{clear:both;padding:4px 0;width:17%;float:right;margin-right:25%;margin-top:-55px}
form div.row7{clear:both;padding:4px 0;width:19%;float:right;margin-top:-57px;margin-right:5%}
form div.row8{clear:both;padding:4px 0;margin-bottom:15px;width:30%}
form div.row9{clear:both;padding:4px 0;width:23%;float:left;margin-left:30%;margin-top:-50px}
form div.row10{border:2px solid#ccc;width:300px;height:120px;overflow-y:scroll}
form div.row11{margin-left:26%;width:36%;margin-top:-161px;margin-bottom:20px}
form div.row12{width:45%}
form div.row13{margin-left:46%;margin-top:-25px;width:40%;margin-bottom:20px}
form div.row14{clear:both;padding:4px 0;margin-bottom:15px;float:left}
form div.row10 p{margin-left:10px;margin-top:10px}
form.row.checkbox,form.row.radio{width:auto}
form textarea,form select{outline:medium none;padding:5px 6px 8px 6px;margin:0;color:#666}
form select{
	border:1px solid#D0CACA;
	outline:medium none;
	padding:13px 6px 8px 10px;
	margin:3px;
	/* max-width:200px;  DANIEL*/
	color:rgb(64,75,100);
	font-family: Lato, sans-serif;
	font-size: 14px
}
.ui-widget select{
	font-family: Lato, sans-serif !important;
	font-size: 14px !important;
	color:#1d2433 !important;
}

.ui-widget input{
	font-family: Lato, sans-serif !important;
	/* font-size: 18px !important; DANIEL */

}
.ui-widget button{
	font-family: Lato, sans-serif !important;
	font-size: 14px !important;

}
.icon-social{
	background: none;
	color: #fff;
}

form input.error{border:1px solid#FCCAC3}
form input.error:focus{border:1px solid#EA5338;-webkit-box-shadow:0 1px 2px#EA5338 inset;-moz-box-shadow:0 1px 2px#EA5338 inset}
/* CHECKBOX CSS TO TURN IT INTO RED */
form input[type=checkbox]{
	transition: all ease-in .3s;
	float: left;
	border: 2px solid #f31d3f !important;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 2px;
	margin-right: 10px;
	text-align: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	-o-appearance: none;
	cursor: pointer;
}

form input[type=checkbox]:checked{
	background-color: #f31d3f !important;
}

form input[type=checkbox]:checked::after{
	content: '';
	color: #fff;
	display: block;
	position: absolute;
	margin-left: 1px;
	margin-top: 3px;
	width: 10px;
	height: 5px;
	border-bottom: solid 2px currentColor;
	border-left: solid 2px currentColor;
	-webkit-transform: rotate(-45deg);
	transform: translate(-1px, -2px) rotate(-45deg);
}

form input[type=radio]{float:left;border:none;background:none;margin:0;padding:0;margin-top:3px}
form input[type=checkbox]:focus,form input[type=radio]:focus{border:none;background:none}
form label.checkbox,form label.radio{font-weight:normal;margin:0;padding:0 20px 0 6px;vertical-align:bottom}
form input:focus,form textarea:focus,form select:focus{-moz-box-shadow:0px 0px 3px#d0e1f7;border:1px solid#d0e1f7}
.textarea_pessoa{float:left;margin-right:10px}
form optgroup{background:#f7f7f7}
fieldset{margin-bottom:15px}
.button{-moz-border-radius:0.5em 0.5em 0.5em 0.5em;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);cursor:pointer;display:inline-block;font:14px/100%Arial,Helvetica,sans-serif;margin:0 2px;outline:medium none;padding:0.5em 2em 0.55em;text-align:center;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,0.3);vertical-align:baseline;background:#868686 url('../img/btn-bg-dark.gif')repeat-x bottom;color:#E9E9E9}
.button:hover{background:#585858 url('../img/btn-bg-dark-hover.gif')repeat-x bottom;text-decoration:none}
.button:active{background:#585858 url('../img/btn-bg-dark-active .gif')repeat-x bottom;color:#AFAFAF;position:relative;top:1px}
.medium{font-size:12px;padding:0.4em 1.5em 0.42em}
button{/* padding:7px !important; */}
.css_btn_class{background-color: #1D2433;/* display:inline-block!important; *//* cursor:pointer!important; *//* color:#ffffff!important; *//* font-size:11px !important; *//* height:31px !important; *//* text-decoration:none!important; *//* border:none!important; *//* margin:2px 1px 1px 1px; */}
.css_btn_class:hover{background-color: #a0ac48;}
.small{font-size:11px;padding:0.2em 1em 0.275em}
table{border-collapse:separate;border-spacing:0px;width:auto}
caption,th,td{text-align:left;font-weight:normal}
table,td,th{vertical-align:middle}
table .meioo{width:60%}
thead td.meioo,thead th.meioo{background-color:#E6E6E6}
tr td.meioo,thead th.meioo{color:#212529;padding:8px}
tr td.meioo{vertical-align:middle}
thead td.meioo,thead th.meioo{font-weight:bold;padding:8px}
th,td.meioo{}
tbody th.meioo{padding:0 8px;text-align:left}
table,td,th{vertical-align:middle}
table{width:100%;padding: 10px;}
thead li,thead ul{background-color:#E6E6E6}
tr td,thead th{color:#212529;padding:8px}
tr td{vertical-align:middle;font-size: 12px;}
thead td,thead th{font-weight:bold;padding:8px}
tbody th{padding:0 8px;text-align:left}
.message{font-size:12px;padding:15px;margin-bottom:10px;border:1px solid#AAAAAA}
.message .new{background:#feeac9;border:1px solid#d38e49}
.message h4{border-bottom:1px solid#AAAAAA;padding-bottom:5px}
small{font-size:10px}
#login-wrapper{margin:0 auto;width:400px;margin-top:47px}
div#login-wrapper div.notification{padding:15px 15px 15px 50px}
.box-header.login{font-size:19px;padding:29px 29px;border:none;background:#FFFFFF}
form.login label{width:145px}
form.login input{width:200px}

.pagination_wrapper {
	margin: 0 0 -5px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	min-height: 1px;

}

.pagination_middle {
	background: #f3f3f3;
	padding: 0 23px;
}

.pagination_top {
	display: block;
	overflow: hidden;
	height: 5px;
	overflow: hidden;
}

.pagination_bottom {
	height: 5px;
	overflow: hidden;
	display: block;
}

.pagination {
	padding: 4px 0 1px;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 18px;
	color: #939292;
	font-size: 11px;
	line-height: 19px;
}

.pagination  .page_no {
	float: left;
	color: #767676;
	font-size: 11px;
	white-space: nowrap;
	display: block;

}

.pag_list {
	margin: 0;
	padding: 0;
	float: right;
	margin-right: 50%;
}


.pag_list li {
	float: left;
	list-style: none;
	padding: 0 0 0 10px;
	color: #939292;

}


.pag_list a:link, .pag_list a:visited,  .pag_list a:active {
	color: #406f85;
	display: block;

}


.pag_list a:hover {
	color: #3d8ebc;
}

.pag_list .current_page:link,
.pag_list .current_page:visited,
.pag_list .current_page:active {
	background-color: transparent;
  color: #95a8b1!important;
  border: 1px solid #95a8b1;
	display: block;
	line-height: 19px;
	float: left;
	font-weight: bold;
	border-radius: 3px;
	padding: 7px 10px;
	font-family: Lato, sans-serif;
	font-size: 14px;
	margin-right:5px
}
.pag_list .current_page:hover {
	background-color: #05608c;
  color: #95a8b1!important;
  border: 1px solid #05608c;
	display: block;
	line-height: 19px;
	float: left;
	font-weight: bold;
	border-radius: 3px;
	padding: 7px 10px;
	font-family: Lato, sans-serif;
	font-size: 14px;
	margin-right:5px
}


.pag_list .current_page span {
	display: block;
	float: left;
}


.pag_list .current_page span span {
	padding: 0 5px;
	float: left;
	color: #95a8b1!important;
}

div.agendaEmailCabecalho{width:97%;position:relative;top:50px;border:1px solid#d2d2d2;left:30px}
#btEnviar{position:absolute;height:83px;width:51px;left:6px;top:9px;cursor:pointer}
div.agendaEmailCabecalho label{width:100%;display:block;padding:10px 0 10px 0}
div.agendaEmailCabecalho span{display:block;color:#bbbbbb;font-size:12px;float:left;width:38px;text-indent:52px;text-align:right;padding:10px 20px 9px 0;line-height:13px;margin-left:67px;text-indent:4px;margin-right:10px;color:#1c1c1c}
.alinhandoSpanPara{text-indent:21px !important}
div.agendaEmailCabecalho span:last-child{border:none}
div.agendaEmailCabecalho.tipo_texto{padding:4px 10px;width:45%;border:1px double#d2d2d2}
#emailMensagem{width:92%;min-height:250px;border:1px solid#d2d2d2;margin:60px 53px;float:left;resize:none}
#emailMensagem:focus{}

.pag_list .pag_nav:link,
.pag_list .pag_nav:visited,
.pag_list .pag_nav:active


{
	color: #fff;
	font-weight: bold;
	background-color: #96B7C5;
}

.pag_list .pag_nav:hover {
	background-position: 0 -19px;
}

.pag_list .pag_nav:hover span {
	background-position: 0 -19px;
}

.pag_list .pag_nav:hover span span {
	background-position: right -19px;
}

.pag_list .pag_nav span {
	display: block;
}

.pag_list .pag_nav span span {
	padding: 0 7px;
}

/*.box.metas b {
	color: darkgrey;
	font-size: 15px;
	 display: block;
	padding: 10px;
}*/


div.principal{font-weight:bolder;font-size:16px;background:rgba(93,70,70,0.08);padding:5px 3%;box-shadow:0 4px 7px rgba(0,0,0,0.2);color:#2D0909}
.box.eventos,.box.vendas,.box.financeiro,.box.oportunidades,.box.plano,.box.metas,.box.processo{float:left;padding:0;width: 32%; margin-right: 1px;}
.box.metas{/*float:inherit;padding:0;width: 100%;height: 83%;*/background: #8e344c;}
.principal_titulo{font-size:17px}
.vendas{background-color:#69bfd0;background-repeat:no-repeat;background-position:93%,12px,63px,right}
.div_vendas{padding:8px;color:white;/* height: 150px; *//* overflow: auto; */ overflow-x: hidden;}
.ul_vendas{padding:7px !important;margin:0px;background-color:#5b9a68;list-style:none;color:WHITE}
.li_vendas{display:inline;color:white}
li.li_vendas:hover{background-color:rgb(122,173,133);padding-top:10px;padding-bottom:7px}
.texto_centro_branco{text-align:center!important;color:WHITE!important}
.li_financeiro{display:inline;color:white}
.ul_financeiro{padding:7px !important;margin:0px;background-color:#4dc9f6;list-style:none;color:WHITE}
.financeiro{background-color:#2799C2;background-image:url(../img/dinheiro.png);background-repeat:no-repeat;background-position:93%,12px,63px,right}
li.li_financeiro:hover{background-color:#2799C2;padding-top:10px;padding-bottom:7px}
.li_oportunidades{display:inline;color:white}
.ul_oportunidades{padding:7px !important;margin:0px;background-color:#ff8a00;list-style:none;color:WHITE}
.oportunidades{background-color:#f4b400;background-image:url(../img/metas.png);background-repeat:no-repeat;background-position:93%,12px,63px,right}
li.li_oportunidades:hover{background-color:#f4b400;padding-top:10px;padding-bottom:7px}
.li_metas{display:inline;color:white}
.ul_metas{padding:7px !important;margin:0px;background-color:#dd4f75;list-style:none;color:WHITE}
.metas{background-color: transparent;background-repeat:no-repeat;background-position:93%,12px,63px,right;}
li.li_metas:hover{background-color:#8e344c;padding-top:10px;padding-bottom:7px}
.li_plano{display:inline;color:white}
.ul_plano{padding:7px !important;margin:0px;background-color:#3a8896;list-style:none;color:WHITE}
.plano{background-color:rgba(80, 162, 177, 0.78);;background-image:url(../img/evento.png);background-repeat:no-repeat;background-position:93%,12px,63px,right}
li.li_plano:hover{background-color:#075563;padding-top:10px;padding-bottom:7px}
.li_eventos{display:inline;color:white}
.ul_eventos{padding:7px !important;margin:0px;background-color:#A49CCC;list-style:none;color:WHITE}
.eventos{background-color:#c9c3e6; background-image:url(../img/evento.png); background-repeat:no-repeat;background-position:93%,12px,63px,right}
li.li_eventos:hover{background-color:#766da2;padding-top:10px;padding-bottom:7px}
.li_processo{display:inline;color:white}
.ul_processo{padding:7px !important;margin:0px;background-color:#32A3A5;list-style:none;color:WHITE}
.processo{background-color:#4cc2c4; background-repeat:no-repeat;background-position:93%,12px,63px,right}
li.li_processo:hover{background-color:#4cc2c4;padding-top:10px;padding-bottom:7px}
.caixa{color:#0012B3!important}



.pagar{color:#D70005!important}
.receber{color:#5EFE69}
.modalDialog{position:absolute;font-family:'Lato',sans-serif;z-index:2;opacity:0;-webkit-transition:opacity 400ms ease-in;transition:opacity 400ms ease-in;pointer-events:none;padding-top:68px}
.modalDialog:target{opacity:1;pointer-events:auto}
#fechar{margin-top:-22px}
.modalDialog>div{margin:0 auto;right:0;left:0;display:block;color:#FFF;font-size:15px;z-index:100;transition:opacity 0.5s linear}
.fundoPRETO{background-color: rgba(185, 183, 181, 0.63);position:fixed;padding:100%;top:0;right:0;bottom:0;z-index:-1;cursor:no-drop;}
.boxJanela{}
.janelaHeader{background:#0C5983;border:1px solid#0C5983}
#file{border:1px solid rgb(253,187,48);padding:4px}

.botao_novo_msg, .botao_imprimir, .botao_boleto, .botao_recibo, .botao_responder, .buttom_adicional, botao_principal_vendas, .botao_principal_financeiro, .conclusion_msg, .css_btn_class{
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid white;
	margin: 1px;
	padding: 10px;
	text-align: center;
	transition: 0.2s;
}


.botao_novo_msg:hover, .botao_imprimir:hover, .botao_boleto:hover, .botao_recibo:hover, .botao_responder:hover, .buttom_adicional:hover,  .botao_principal_vendas:hover, .botao_principal_financeiro:hover, .conclusion_msg:hover, .css_btn_class:hover {
	box-shadow: 0 0px 6px 0px black;
	transition: 0.2s;
}
.botao_salvar{
	display: inline-block;
	cursor: pointer;
	color: #ffffff !important;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid white;
	margin: 1px;
	padding: 10px;
	text-align: center;
	transition: 0.2s;
	background:#1D2433;
}
.botao_salvar:hover{

}

.botao_editar{
	background-color:#2784b1 !important;
	color: #fff !important;
	font-family: Lato, sans-serif !important;
	font-size: 14px!important;
	font-weight: 600;
	border: 1px solid #bbbfc7 !important;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px !important;
	text-align: center;
	transition: 0.2s;
	}
.botao_editar:hover{
	background-color:#05608c !important;
	color: #fff !important;
	font-family: Lato, sans-serif !important;
	font-size: 14px!important;
	font-weight: 600;
	border: 1px solid #bbbfc7 !important;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px !important;
	text-align: center;
	transform: translateY(-2px);
	transition: .3s ease;
	}





.buttom_adicional{background-color:#1D2433;}
.botao_responder{background-color:#50C569;}


.botao_excluir{
	background-color:#f65b74;;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
}
.botao_excluir:hover{
	background-color:#f31d3f;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	text-align: center;
	transition: .3s ease;
}

.botao_imprimir-list{
	background-color:#1d2433;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
}
.botao_imprimir-list:hover{
	background-color:#1d2433;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
	transform: translateY(-2px);
	transition: .3s ease;
}

.botao_evento-public{
	background-color:#2c9d0b;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
}
.botao_evento-public:hover{
	background-color:#2c9d0b;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
	transform: translateY(-2px);
	transition: .3s ease;
}

.botao_view-public{
	background-color:#0497c2;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
}
.botao_view-public:hover{
	background-color:#0497c2;
	color: #fff;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
	transform: translateY(-2px);
	transition: .3s ease;
}

.botao_pesquisar{
	font-size: 14px!important;
  font-weight: 600!important;
	font-family: 'Lato', sans-serif!important;
  background-color: #2784b1;
  color: #FFFFFF !important;
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  transition: .3s ease;
  border: 0;
  cursor: pointer;
	}
.botao_pesquisar:hover{
	font-size: 14px;
  font-weight: 600;
	font-family: 'Lato', sans-serif;
  background-color: #05608c;
  color: #FFFFFF !important;
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  transition: .3s ease;
  border: 0;
  cursor: pointer;
	}
.botao_pesquisar i{
	padding-right: 5px;
}
.botao_novo_msg{background-color:#0F4C6D;}
.botao_novo{
	padding: 6px 15px;
	align-self: center;
	margin: 0 5px;
	background-color: transparent;
	border: 1px solid #2784b1!important;
	color: #2784b1 !important;
	font-family: 'Lato', sans-serif;
	border-radius: 3px;
	padding: 10px 20px;
	display: inline-flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	transition: .3s ease;
	border: 0;
	cursor: pointer;
 }
 .botao_novo:hover{
	padding: 6px 15px;
	align-self: center;
	margin: 0 5px;
	background-color: #2784b1;
	border: 1px solid #2784b1!important;
	color: #ffffff !important;
	font-family: 'Lato', sans-serif;
	border-radius: 3px;
	padding: 10px 20px;
	display: inline-flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	transition: .3s ease;
	border: 0;
	cursor: pointer;
 }
 .botao_troca{
	background-color:#fff;
	font-family: Lato, sans-serif;
	font-size: 14px !important;
	font-weight: 600;
	border: 1px solid #1D2433;
 	display: inline-block;
	cursor: pointer;
	color: #1D2433;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
	transition: 0.2s;
 }
 .botao_troca:hover{
	background-color:#1D2433;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #1D2433;
 	display: inline-block;
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
	transform: translateY(-2px);
	transition: .3s ease;
 }
.botao_principal_vendas{background-color:#5B9A68;}
.botao_principal_financeiro{background-color:#4DC9F6}
.botao_imprimir{
	font-size: 14px!important;
  font-weight: 600!important;
	font-family: 'Lato', sans-serif!important;
  background-color: #95a8b1;
  color: #FFFFFF !important;
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  transition: .3s ease;
  border: 0;
  cursor: pointer;
	}
.botao_imprimir:hover{
		font-size: 14px!important;
  font-weight: 600!important;
	font-family: 'Lato', sans-serif!important;
  background-color: #bbbfc7;
  color: #FFFFFF !important;
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  transition: .3s ease;
  border: 0;
  cursor: pointer;
}
.botao_imprimir i{
	padding-right: 5px;
}
.botao_refresh_search{
	background-color:#bbbfc7;
	color: #1D2433;
	font-family: Lato, sans-serif;
	font-size: 14px !important;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
	transition: 0.2s;
	}
.botao_refresh_search:hover{
	background-color:#bbbfc7;
	color: #1D2433;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #bbbfc7;
 	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin: 1px;
	padding: 10px 20px;
	text-align: center;
	transform: translateY(-2px);
	transition: .3s ease;
	}
.botao_boleto{background-color:#1D2433;}
.botao_recibo{background-color:#fdbb30;}

.container_12{
	margin-left: 20px !important;
}


.agenda_status{color:#E8BC56;font-weight:bold}
.caixa_texto_oculta{display:none}
.logout_cel{display:none}
.select_list{max-width: 27%}
input[type=checkbox]{margin-right:4px !important}


@media screen and (max-width: 1000px){

	.div_close{
		padding-top: 34px;
		margin-top: -34px;
		padding: 19px;
		box-shadow: 3px -3px 0px 2px #A52733;
	}


	.div_close:hover{

		margin-top: -33px;

	}



	input[type=checkbox]{
		width: 36px !important;
		height: 36px;
	}


	.ui-corner-all .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
		top: 250px !important; 
	}

	.box--dashboard{
		top: 15px !important; 
		left: 15px !important; 
	}

	.ui-tabs-container{
		overflow-x: scroll !important;
	}

	#barchartProv, #barchartFluxoCaixa, #barchartDRE{
		margin-top: 0px !important;
	}

	.logout_cel{
		display:block;
	}

	.botao_salvar {
		padding: 21px !important;
		color: #fff !important;

	}

	.box .eventos, .box .vendas, .box .financeiro, .box .oportunidades, .box .metas, .box .plano, .box .processo {
		float: left;
		padding: 0;
		margin: 6px;
		width: 95%;
	}

	.select_list{
		max-width: 100%;
	}

	body, td, p, a, span{
		font-size: 20px;
	}


	.botao_principal_vendas {    font-size: 17px !important;  height: 40px !important;}

	.botao_principal_financeiro {    font-size: 17px !important;  height: 40px !important;}




	#page-content {
		margin:0;   padding: 26px 10px 54px 2px;
		min-width:600px;
		zoom:0.4;
	}

	.diferente{  display:none;  }

	.caixa_texto_oculta{
		display: inline;
		float: left;
		margin-top: 19px;
		margin-left: 178px; }

		.container_12{	   margin-top: 152px !important; }

		.ul-header {
			padding: 1px;
			width: 100%;
		}


		.caixa_texto {zoom:1; position:absolute;}

		.menu-active  .caixa_texto{
			position:fixed !important;
		}

	.div_vendas {/* height: 240px !important; */}

	.grid_11{zoom:1.5;}

	.principal_info{
		color:white;
		font-size:17px;
	}

	.texto_centro_branco {
		font-size: 19px;
	}

}

i.fa.fa-times{padding-right:0px}
.menu-anchor{width:40px;height:28px;float:left;margin-left:50px;position:relative;cursor:pointer;background:#E9BC56}
.menu-anchor:hover{background:#fcfbfb}

.menu-anchor:active{background:#fcfbfb}
.menu-anchor:before{content:"";display:block;margin:7px auto;width:70%;height:0.25em;background:#FFFFFF;box-shadow: 0em 0.6em  #FFFFFF,0em 1.2em 0 #FFFFFF;}
.fa-spinner:before {
	background: url('/sgr/assets/components/loading/index.svg');
}
	.principal_info{color:white}
	.input_table{padding:3px !important;margin-left:11px}
	.notifica_aberto{position:absolute;margin-top:-3px;margin-left:10px;background-color:rgb(225,141,141);color:white;border-radius:20px;text-align:center;padding:3px;min-width:13px;cursor:pointer;font-weight:400}
	.notifica_aberto_msg{margin-left:-10px;background-color:rgb(225,141,141);color:white;border-radius:20px;text-align:center;padding:3px;cursor:pointer;font-weight:400}
	i.fa.fa-spinner.fa-pulse{padding:0;
		color: white;}
		.alert_cadastrado{margin:400px auto;right:0;left:0;width:236px;height:24px;display:block;position:fixed;padding:5px 2px;color:#FFF;font-size:15px;text-align:center;z-index:100;opacity:0;transition:opacity 0.5s linear;pointer-events:none}
		.alert_erro{margin:400px auto;right:0;left:0;display:block;position:fixed;padding:5px 2px;color:#FFF;font-size:15px;text-align:center;z-index:100;opacity:0;transition:opacity 0.5s linear;pointer-events:none}
		.alert_excluido{margin:400px auto;right:0;left:0;width:200px;height:24px;display:block;position:fixed;padding:5px 2px;color:#FFF;font-size:15px;text-align:center;z-index:100;opacity:0;transition:opacity 0.5s linear;pointer-events:none}
		.alert_editado{margin:400px auto;right:0;left:0;width:200px;height:24px;display:block;position:fixed;padding:5px 2px;color:#FFF;font-size:15px;text-align:center;z-index:1000;opacity:0;transition:opacity 0.5s linear;pointer-events:none}
		.div_vendas.linklist{color:white}
		.notification.sanfona::before{font:normal normal normal 25px/1 FontAwesome;content:"\f105";margin-right:13px;transform:rotate(90deg);transition:All 0.195s linear;-webkit-transition:All 0.195s linear;-moz-transition:All 0.195s linear;-o-transition:All 0.195s linear;float:right}
		.notification.sanfona:hover:before{font:normal normal normal 25px/1 FontAwesome;content:"\f105";float:left;margin-right:13px;transform:rotate(150deg);transition:All 0.195s linear;-webkit-transition:All 0.195s linear;-moz-transition:All 0.195s linear;-o-transition:All 0.195s linear;float:right}
		.input_modulo{width:270px;height:40px;margin:0 auto!important;margin-top:-11px !important;margin-left:-10px !important;position:absolute;opacity:0;cursor:pointer}
		label.modulos {
			border: 1px solid #BFD6E2;
			padding: 10px;
			margin: 5px;
			background-color: #BFD6E2;
			border: 1px solid #BFD6E2;
			padding: 8px;
			margin: 5px;
			background-color: #DEC7C7;
			cursor: pointer;
			width: 230px;
		}

		.color_yellow {
			background-color: #BFD6E2!important;
			cursor: pointer;
		}
		.modulos::after {
			float: right;
			font: normal normal normal 18px/1 FontAwesome;
			content: "\f057";
			color: #EFE7E7;
		}

		.color_yellow::after {
			float: right;
			font: normal normal normal 18px/1 FontAwesome;
			content: "\f058";
			color: #005C8C;
		}
		.modulo_ver_editar{background-color:#BFD6E2!important;cursor:pointer;color:#005C8C!important}
		.modulo_ver{background-color:#F2D289!important;cursor:pointer;color:#A28541!important}
		.modulo_ver::after{float:right;font:normal normal normal 18px/1 FontAwesome;content:"\f06e"!important;color:#BB8941!important}


		.modulo_ver_editar::after{float:right;font:normal normal normal 18px/1 FontAwesome;content:"\f044     \f06e";color:#005C8C}
		.hide{display:none}
		.head_login{margin:0 auto}
		.centrali_login{margin:0 auto;width:197px}
		li.sucess::after{content:"\f058";font-family:FontAwesome;color:#34AB0E;padding-left:10px;font-size:19px}
		#drop{padding:22px;background-color:#ffffff;min-width:597px;border: 1px solid #C4CDD4;}
		.upload_dragg{padding:1px;color:#212529;display:block}
		span.upload_text_drag{text-align:right;float:right;line-height:normal;top:0}
		#upload>ul{background-color:#ffffff;padding:10px;list-style-type:none;display:block}
		span.upload_text_drag::before{content:"\f093";font-family:FontAwesome;color:#366F79;font-size:-webkit-xxx-large}
		.sucess>span{position:absolute;line-height:43px;margin-left:15px}
		li.sucess::before{content:"\f058";font-family:FontAwesome;color:#F9EFD8;font-size:19px;position:absolute}
		input.upload_dragg{opacity:1;width:300px;cursor:pointer;color:#212529;border:none!important}
		.span_uploaded{padding: 2px;width:365px;background-color:#f5f4f2;border:2px solid#c4cdd4;color:#212529;font-size: 20px;line-height: 33px;pointer-events:none;cursor:pointer;position:absolute}
		span.upload_dragg::after{font-family:FontAwesome;color:#F9EFD8;font-size:22px;line-height:38px;right:0;position:absolute;background-color:#1D7586;height:100%;top:0;padding-right:67px;padding-left:63px}
		span.upload_dragg::before{content:"[ Arraste o anexo ]";font-size:26px;float:right;cursor:-webkit-grab}
		input.upload_dragg:hover{background-color:#1D7586;color:#1D7586;width:293px;transition:2s}
		span.span_uploaded::after{content:"\f093";font-family:FontAwesome;margin-right: 20px;font-size:22px;line-height:37px;float:right;right:0;color: #212529;}
		input.upload_dragg:focus{margin-left:20px;width:302px;transition:2s}
		.table_downloads td{border-bottom:none;padding:4px}
		.table_downloads h3{color:#212529;font-size:12px !important;font-weight:500!important}
		.table_downloads td{border-bottom:none;padding:4px}
		.modal_janela>.notification.sanfona::before{content:""}
		.titulo>.notification.sanfona{background-color:#ffffff;border:1px solid #ffffff;margin-top:2px;min-width:300px;color: #000000; font-weight: bold;}
		.conteudo.show>.box{background-color:white;border:none;margin-top:-3px}
		.conteudo.show{display:block}
		/* .autocomplete_selected{background-color:rgb(233,244,247);border:1px solid#9AD6E6!important} */
		.autocomplete_selected{background-color: #2784b152;border:1px solid#cdcdcd!important}
		thead>tr>td{
		color:#212529;
		font-size:12px !important;
		font-weight:500 !important;
		font-weight: bold !important;
		}
		input{color:#666;text-align:center;border:1px solid#cdcdcd!important}
		td>input{padding:4px}
		.despesas{color:white;background-color:#DA6D7D}
		.receitas{background-color:#579D6B;color:white}
		.resultado{background-color:#D7A745;color:white}
		.atention_msg{background:#E18D8D!important;font-size:23px}
		.conclusion_msg{background-color:#50C569;}
		.conclusion_msg:hover{background-color:#3C964F!important}
		.conclusion_msg:active{position:relative!important;}
		.toggle:hover{color:#0C5983}
		.conteudo>.box-header{text-transform:lowercase;font-size:11px;background:rgb(105,147,153)}
		.conteudo>.row>.box-header{text-transform:lowercase;font-size:11px;background:rgb(105,147,153)}
		.conclusion_alert{color:#50C569!important;font-size:25px}
		.atention_alert{color:#DE7680!important;font-size:25px}
		.divisor_menu_icons{float:left;margin-right:13px;background:none;padding:4px;color:#fff !important;}
		.divisor_menu_icons>div{float:right;padding:6px;margin:0 auto;line-height:8px;transition-duration:0.5s}
		b>.notifica_aberto_msg{margin-left:1px}
		.cke_chrome{box-shadow:none!important}
		.list_selection>.box{display:none;transition:opacity 0.5s linear;border-top:none;margin-left:2px}
		.list_selection>span{padding:7px;margin:2px;border:1px solid#D0CACA;font-weight:700;cursor:pointer}
		.divisor_menu_icons>div>a{font-size:11px}
		.list_selection:hover>.box{display:initial;position:absolute;margin:0 auto;margin-left:-23px;margin-top:-7px;transition:opacity 0.5s linear}
		.list_selection>span::after{content:"\f107";margin-left:10px;font:normal normal normal 14px/1 FontAwesome}
		.ui-helper-hidden-accessible{display:none}
		tr.primary_menu_Event{background-color:rgba(193,186,228,0.81)}
		tr.primary_menu_Event>*{color:white!important}
		tr.primary_menu_Event:nth-child(even){background-color:rgba(178,169,224,0.81)}
		tr.primary_menu_oportunity:nth-child(even){background-color:rgba(247,186,71,0.81)!important}
		tr.primary_menu_oportunity{background-color:rgba(255,138,0,0.42)}
		tr.primary_menu_oportunity>*{color:white!important}
		tr.primary_menu_oportunity:nth-child(even){background-color:rgba(178,169,224,0.81)}
		.left_description{float:left;margin-right:33px;width:413px}
		button.button_notification{
			padding:0!important;
			background:none;
			border:none;
			color:#fff;
			cursor:pointer;
			font-size:35px;
			transition-duration:0.5s;
			margin-top:-15px;
			margin-inline-end: 10px;
			}
		button.button_notification:hover{
}
		.button_oportuni_lists>i{text-align:center;margin-left: 4px;margin-right: 2px;}
		.button_oportuni_lists{border:none;color:#FFFFFF;text-align:center;transform:scale(1,1);font-size:15px;background:#E9BD57;padding:2px;cursor:pointer;transition-duration:0.5s;margin:2px}
		.button_oportuni_lists:hover{transform:scale(1,1);font-size:25px;transition-duration:0.5s;background:#B29144;padding:4px}

		.button_job_lists>i{text-align:center;margin-left: 4px;margin-right: -3px;}

		.button_job_lists{border:none;color:#FFFFFF;text-align:center;transform:scale(1,1);font-size:15px;background:#57ACE9;padding:2px;cursor:pointer;transition-duration:0.5s;margin:2px}

		.button_job_lists:hover{transform:scale(1,1);font-size:20px;transition-duration:0.5s;background:#4B8EBF;padding:4px}

		.warning_media>i{text-align:center;margin-left: 4px;margin-right: 3px;}

		.warning_media{border:none;color:#FFFFFF;text-align:center;transform:scale(1,1);font-size:15px;background:#F6C927;padding:2px;cursor:help;transition-duration:0.5s;margin:2px}

		.warning_media:hover{transform:scale(1,1);font-size:20px;transition-duration:0.5s;background: #CAA72C;padding:4px}

		.warning_neutro>i{text-align:center;margin-left:5px;margin-right:-3px}

		.warning_neutro{border:none;color:#FFFFFF;text-align:center;transform:scale(1,1);font-size:15px;background:#796161;border-radius:3px;padding:2px;cursor:help;transition-duration:0.5s;margin:2px}

		.warning_neutro:hover{transform:scale(1,1);font-size:20px;transition-duration:0.5s;background:#F6C927;padding:4px}

		.warning_baixa>i{text-align:center;margin-left:5px;margin-right: 2px;}

		.warning_baixa{border:none;color:#FFFFFF;text-align:center;transform:scale(1,1);font-size:15px;background:#9DD029;border-radius:3px;padding:2px;cursor: help;transition-duration:0.5s;margin:2px}

		.warning_baixa:hover{transform:scale(1,1);font-size: 20px;transition-duration:0.5s;background: #688624;padding:4px}

		.warning_alta>i{text-align:center;margin-left: 3px;margin-right: 4px;}

		.warning_alta{border:none;color:#FFFFFF;text-align:center;transform:scale(1,1);font-size:15px;background:#FF0000;padding:2px;cursor:help;transition-duration:0.5s;margin:2px;}

		.warning_alta:hover{transform:scale(1,1);font-size:20px;transition-duration:0.5s;background: #D02424;padding:4px}

		.nao_iniciado {	background-color:#F3E8E8 !important;}

		.pausado {	background-color: #F9FFC8 !important;}

		.concluido {	background-color:#DEF5E9 !important;}

		.em_andamento {	background-color:#E8EFF3 !important;}

		.event_list_boxes {
			background: #E8EFF3;
			padding: 7px;
			float: left;
			border: 1px solid #DDDDDD;
			width: 258px;
			/* height: 150px; */
			margin-top: 2px;
			margin-bottom: 4px;
			box-sizing: border-box;
			cursor: help;
		}

		@media screen and (max-width: 2000px) {

			.grid_events_list {
				margin: 0 auto;
				width: 1063px;
			}

			.grid_events_list#job_lista{
				width: 1233px;
			}
		}


		@media screen and (max-width: 1500px) {

			.grid_events_list {
				margin: 0 auto;
				right: 0;
				left: 0;
				width: 1063px;
			}

			.grid_events_list#job_lista {
				width: 929px;
			}
		}


		@media screen and (max-width: 1200px) {

			.grid_events_list {
				margin: 0 auto;
				right: 0;
				left: 0;
				width: 807px;
			}

			.grid_events_list#job_lista {
				width: 664px;
			}
		}

		@media screen and (max-width: 900px) {

			.grid_events_list {
				margin: 0 auto;
				right: 0;
				left: 0;
				width: 300px;zoom:3;
			}

			.grid_events_list#job_lista {
				width: 313px;zoom:2;
			}
		}

		.grid_events_list .botao_editar {
			/* border-radius: 0 !important; *//* border-radius: 0 !important; */
			min-width: 34px;
			background-color: #7EB2CF!important;
		}

		.grid_events_list .botao_editar:hover {
			border-radius: 0 !important;
			min-width: 34px;
			background-color: #6593AD!important;
		}

		.grid_events_list .botao_excluir > i {
			margin-left: 10px;
		}

		.grid_events_list .botao_imprimir {
			min-width: 34px;
			background-color: #97C7AF!important;
		}

		.grid_events_list .botao_imprimir:hover {
			/* border-radius: 0 !important; *//* border-radius: 0 !important; */
			min-width: 34px;
			background-color: #5E9696!important;
		}

		.grid_events_list .botao_excluir {
			/* border-radius: 0 !important; */
			min-width: 34px;
		}

		.events_coluns {
			float: left;
			margin: 3px;
			width: 259px;
		}

		.event_list_boxes > div > b .fa {
			margin-right: -9px;
			margin-left: 4px;
		}

		input[type="text"]:read-only {
			background: #EDEDED;
		}

		textarea[type="text"]:read-only {
			background: #EDEDED;
		}

		input[type="button"]:disabled {
			background-color: #EBEBE4 !important;
		}

		.left > label {
			position: absolute;
			margin-top: -20px;
			font-weight: 100;
			margin-left: 4px;
		}

		.left {
			float: left;
			margin-top: 12px;
		}

		.div_vendas a {
			color: white;
		}

		.row.banco_selet_printer > .box {
			float: left;
			margin: 3px;
		}

		.row.banco_selet_printer > .box > img {
			width: 136px;
		}

		.rows_job {
			border: 1px solid #DDDDDD;
			margin: 10px;
			padding: 10px;
			float: left;
			width: 266px;
		}

		.rows_job:nth-child(even) {
			background: #F7F7F7;
		}

		.right_full_bottom {
			float: right;
			text-align: center;
			background: rgba(221, 221, 221, 0.24);
			padding: 5px;
		}

		div#job_lista {
			padding: 10px;
		}


		.rows_pessoas {
			float: left;
			margin: 10px;
			padding: 10px;
			border: 1px solid #DDDDDD;
			width: 225px;
			height: 130px;
		}

		.rows_pessoas:nth-child(even) {
			background: #F7F7F7;
		}


		.only_icon > a > button {
			width: 43px;
			min-width: initial;
			text-align: center;
		}

		.only_icon > a > button > i {
			font-size: 14px;
			margin-left: 6px;
		}

		.info_pessoas {
			height: 69px;
		}


		.rows_oportunit {
			margin: 0px;
			margin-top: 7px;
			margin-bottom: 3px;
			padding: 10px;
			border: 1px solid #DDDDDD;
			float: left;
			height: 98px;
			width: 214px;
		}

		.oportuni_contactado{
			background-color: #DEF5E9;
		}
		.oportuni_necessidades{
			background-color: #F3E8E8 ;
		}
		.oportuni_aguardando{
			background-color: #F9FFC8;
		}
		.oportuni_negociando{
			background-color: #E8EFF3;
		}

		div#oportunidade_lista {
			padding: 6px;
		}

		.events_coluns.coluns_oportuni {
			width: 237px;
		}

		span.ui-helper-hidden-accessible {
			display: none !important;
		}

		input[type="text"]:read-only {
			background: #EDEDED !important;
			color: #6f6666 !important;
		}

		@media screen and (max-width: 600px){
			#login-wrapper {
				width: 90%;
			}

			#login-wrapper input {
				width: 100%;
			}

			.centrali_login {
				width:100%;
			}
		}

		span#bt_span_webserv {
			color: white;
			/* background: #ffc349; */
			/* padding: 10px; */
			/* width: 10px; */
			/* height: 10px; */
		}

		td > a > button {
			width: 100% !important;
		}

		select:disabled {
			background: #ebebe4;
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #adbec1;
			font-weight: 100;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: #adbec1;
			font-weight: 100;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: #adbec1;
			font-weight: 100;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: #adbec1;
			font-weight: 100;
		}

@import url('https://fonts.googleapis.com/css?family=Lato');

/* EDIT DANIEL */
.agenda__label{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
    color: #1D2433;
	text-transform: uppercase;
    font-size: 14px;
}
.gridTextArea{
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: auto auto;
	margin-bottom: 20px !important;
	margin-top: 20px !important;
}
.wrapTextArea{
	display: inline-block;
}

.wrapTextArea textarea{
	border-radius: 3px;
    font-family: 'Lato', sans-serif !important;
    font-size: 13px !important;
    outline: none;
	width: 100%;
}

form div.row{
	padding-right: 20px;
}

.input-group{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 20px;
}

.input-group input, .input-group select{
	box-sizing: border-box;
}

.input-group .titleLabel{
	text-align: left;
	float: unset;
}

.input-group input{
	margin: 0;
}

.inputData{
	width: 100%;
	font-size: 18px !important;
}

.inputText{
	width: 100%;
	font-size: 18px !important;
}

.inputSelect{
	width: 100%;
}

.btnNewClient{
	font-family: 'Lato',sans-serif;
	font-weight: bold;
	position: absolute;
	bottom: 0px !important;
	left: 0px;
	height: 44px;
	border: none;
}

.btnNewClient:hover{
	box-shadow: none;
	border: none;
	background-color: #1D2433;
}

.halfMarginRight{
	margin-right: 2.5px !important;
}

.btnBottom{
	font-size: 18px !important;
}

@media (max-width: 1715px) {
  .inputData{
	  font-size: 16px !important;
  }

  .txtNoneSmall{
	  display: none;
  }
}

.list_dashboard {
	width: 100%;
	box-sizing:border-box;
}

.list_item_dashboard {
	display: flex;
	background-color: #FFFFFF;
	padding: 10px 20px;
	margin:5px 0;
}

.list_item_dashboard span {
	text-align: left;
}

.barra_progresso_dashboard {
	height:20px;
	border-radius: 2px 0px 0px 2px;
}

.porc_barra_progresso_dashboard {
	float:left;
	padding-top:2px;
	padding-left:6px;
	color:black;
}

.list_item_dashboard span:nth-child(1) {
	width: 30%;
}

.list_item_dashboard span:nth-child(2) {
	width: 20%;
	margin-right:10px;
}

.list_item_dashboard span:nth-child(3) {
	width: 17%;
}

.list_item_dashboard span:nth-child(4) {
	width: 17%;
}

.list_item_dashboard span:nth-child(4) {
	width: 17%;
}
.barra_progresso_usuarios {
	display:flex;
}
.barra_progresso_meta_usuario {
	height:15px;
}

.pontuacao_concluida {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

[data-tooltip-porc-pontos] {
	position: relative;

}

[data-tooltip-porc-pontos]::after {
	min-width: 20%;
    padding: 3px;
    position: absolute;
    bottom: 100%;
    text-align: center;
    box-sizing: border-box;
    content: attr(data-tooltip-porc-pontos);
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-size: 80% !important;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
}

[data-tooltip-porc-pontos]:hover::after{
	opacity: 1;
	visibility: visible;
}

@media (max-width:600px) {
	.list_item_dashboard span{
		font-size:7px;
	}

	.barra_progresso_dashboard {
		height:12px;
		border-radius: 2px 0px 0px 2px;
		font-size:5px;
	}
	.porc_barra_progresso_dashboard{
		font-size:8px;
	}
	#metasFianceirasDespesas{
		font-size:10px;
	}
	#metasFianceirasReceitas{
		font-size:10px;
	}
}