body {
    background: #fff !important;
}

table tr td{
	vertical-align:top!important;
}
table{
	table-layout: fixed !important;
}
#titleBar {
    border-radius: 5px !important;
    color: #000 !important;
    text-align: center;
}

table{
    border-spacing: 10px;
    -webkit-print-color-adjust: exact;
}

.greyDark{
  background: #e2e2e2 !important;
}

.greyLight{
  background: #fcfcfc !important;
}

tr:nth-child(odd) {
    
    border-radius: 5px !important;
    color: #f3f3f2 !important;
}
tr td, thead th {
    padding: 8px !important;
    border-radius: 5px !important;
}

tr:nth-child(even) {
    background: #fff !important;
		color: #5e5b5b !important;
}
#tdWhite {
  background-color: #fff !important;
}
#fontWhite {
  color: #fff !important;
}

#titleTop {
	color: #454343;
	padding-left: 12px;
	text-transform: uppercase;
}

#titleHead {
border:1px solid; 
padding:10px; 
background:#5e5b5b;
}

#quebraPagina {
		page-break-after: always;
		page-break-inside: avoid;
}

.listaListrada tr:nth-child(even){
  background-color: #fcfcfc !important;
}

  .listaListrada tr:nth-child(odd){
  background-color: #e2e2e2 !important;
}


thead tr td {
  background: #ccc;
}
